
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace ="/fragments/head"></head>
  <body>
   	<nav th:replace ="/fragments/navadmin "></nav>
   	<div class="container">
   		<h2 class="display-2">Pages</h2>
   		<a href="/admin/pages/add" class="btn btn-primary">Add New</a>
   		<div th:if="${!pages.empty}">
   			<table class="table">
   				<tr>
   					<th>Title</th>
   					<th>Slug</th>
   					<th>Edit</th>
   					<th>Delete</th>
   				</tr>
   				<tr th:each="page:${pages}">
   					<td th:text="${page.title}"></td>
   					<td th:text="${page.slug}"></td>
   					<td><a href="/admin/pages/edit' + ${page.id}">Edit</a></td>
   					<td><a href="/admin/pages/delete' + ${page.id}">Delete</a></td>
   				</tr>
   			</table>
   		</div>
   		<div th:unless="${!pages.empty}">
   			<p>There are NO pages.</p>
   		</div>
   	</div>
   	
  </body>

</html>
